# Ignore node_modules directories
node_modules/

# Logs
*.log
logs/

# Dependency directories for both frontend and backend
client/node_modules/
server/node_modules/

# Build or production outputs
client/build/
client/dist/
server/build/
server/dist/

# Environment files
.env
client/.env
server/.env

# Temporary files
*.tmp
*.temp

# IDE and editor files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Coverage files from tests
coverage/
